.about-values{
    height: auto;
    width: 100%;
    display: flex;
    background-image: linear-gradient(125deg, #ff7abd, #ffdcae, #D2B48C, #f1a2ca, #FF69B4, #ff82c1);
    background-size: 400%;
    animation: backanim 10s infinite;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.25);
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

@keyframes backanim {
    0% {
      background-position: 0% 50%;
    }
    50% { 
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.about-values-content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-values-img{
    flex: 1;
}

.about-values-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-values-content h1 .h1-span{
    display: block;
    font-size: 32px;
}

.about-values-content h1{
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 1px #f2f2f2;
    padding-bottom: 20px;
}

.about-values-card{
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    color: white;
}

.about-values-card .card-icon{
    padding-right: 20px;
    font-size: 25px;
    color: white;
}

@media (max-width: 1024px) {
    .about-values-content{
        order: 1;
    }

    .about-values-img{
        flex: 0;
    }
}