.contact-hero{
    display: flex;
    justify-content: start;
    align-items: center;
    height: auto;
    position: relative;
    background-color: #36454F;
    border-bottom: 3px solid white;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.5);
}

.contact-hero-img{
    height: 500px;
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(50%);
    z-index: 1;
}

.contact-hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact-hero-content{
    padding: 100px;
}

.contact-hero-content h1{
    color: #D4AF37;
    font-size: 48px;
}

.contact-hero-content h2{
    color: white;
    font-size: 20px;
}

@media (max-width: 1024px) {
    .contact-hero{
        justify-content: center;
    }

    .contact-hero-img{
        display: none;
    }

    .contact-hero-content{
        text-align: center;
    }
}
