.facials-services-container{
    width: 100%;
    background-color: #36454F;
    height: auto;
    padding-top: 100px;
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.25);
    z-index: -1;
    flex-direction: column;
}

.facials-services-container .card-container {
  display: grid;
  padding: 100px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.facials-services-container h1{
    font-size: 3rem;
    color: #f2f2f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 15px 30px;
    border: 1px solid #ff50d0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.popup a {
    margin-left: 10px;
    color: #ff50d0;
    text-decoration: none;
    font-weight: bold;
}

.popup a:hover {
    text-decoration: underline;
}