.facials-services-container{
    width: 100%;
    height: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(125deg, #ff7abd, #ffdcae, #D2B48C, #f1a2ca, #FF69B4, #ff82c1);
    background-size: 400%;
    animation: backanim 10s infinite;
    z-index: -1;
    flex-direction: column;
}

.facials-services-container .card-container {
  display: grid;
  padding: 100px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

@keyframes backanim {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.facials-services-container h1{
    font-size: 3rem;
    color: #f2f2f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 2rem;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 15px 30px;
    border: 1px solid #ff50d0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.popup a {
    margin-left: 10px;
    color: #ff50d0;
    text-decoration: none;
    font-weight: bold;
}

.popup a:hover {
    text-decoration: underline;
}