.gallery-container{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(125deg, #4a4a4a, #6e6e6e, #9e9e9e, #C9B037, #D1A054, #E4C38A, #F0E68C, #D1A054, #C9B037);    background-size: 400%;
    background-size: 400%;
    animation: backanim 10s infinite;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.25);
    z-index: 0;
    padding: 20px;
    border-top: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
}

@keyframes backanim {
    0% {
      background-position: 0% 50%;
    }
    50% { 
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.gallery-text{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px #f2f2f2;
    padding: 10px 0px;
}