.gallery-container{
    height: 50vh;
    position: relative;
    background-color: #36454F;
    width: 100%;
    overflow: hidden;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.25);
    z-index: 0;
    padding: 20px;
    border-top: 3px solid #f2f2f2;
    border-bottom: 3px solid #f2f2f2;
}

.gallery-text{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 1px #f2f2f2;
    padding: 10px 0px;
}