.contact-section{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.contact-img {
    position: relative;
    flex: 1;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-img .icon {
    position: absolute;
    font-size: 50px; 
    color: white;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(125deg, #C9B037, #E4C38A, #B8860B, #D1A054, #F0E68C, #C9B037);
    background-size: 1000%;
    border: 1px solid #f2f2f2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50%;
    animation: float 5s infinite ease-in-out;
}

.contact-img .icon:nth-child(1) {
    top: 20%;
    left: 10%;
    padding: 10px;
    animation-delay: 0s;
}

.contact-img .icon:nth-child(2) {
    top: 70%;
    padding: 40px;
    left: 30%;
    animation-delay: 1s;
}

.contact-img .icon:nth-child(3) {
    top: 10%;
    left: 60%;
    padding: 20px;
    animation-delay: 2s;
}

.contact-img .icon:nth-child(4) {
    top: 50%;
    left: 80%;
    padding: 10px;
    animation-delay: 3s;
}

@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-10px) translateX(10px);
    }
    50% {
        transform: translateY(10px) translateX(-10px);
    }
    75% {
        transform: translateY(-10px) translateX(10px);
    }
    100% {
        transform: translateY(0) translateX(0);
    }
}


.contact-section .contact-panel{
    display: flex;
    flex-direction: column;
    padding: 25px;
    flex: 1;
    border: 3px solid #f2f2f2;
    height: auto;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    overflow: hidden;
    background-image: linear-gradient(125deg, #4a4a4a, #6e6e6e, #9e9e9e, #C9B037, #D1A054, #E4C38A, #F0E68C, #D1A054, #C9B037);    background-size: 400%;
    animation: backanim 10s infinite;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.25);
    background-size: 400%;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

@keyframes backanim {
    0% {
      background-position: 0% 50%;
    }
    50% { 
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.contact-section .contact-panel input, .contact-section .contact-panel textarea{
    margin: 10px 0px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.35);
    border: 1px solid #f2f2f2;
    outline: none;
}

.contact-section .contact-panel input::placeholder, .contact-section .contact-panel textarea::placeholder{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

.contact-section .contact-panel textarea{
    padding-bottom: 100px;
    margin-bottom: 20px;
}

.contact-section .submit-btn {
    flex: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 10px;
    background: none;
    border: 1px solid #f2f2f2;
    font-weight: 600;
    color: #D4AF37;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.contact-section .submit-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #D4AF37; 
    transition: left 0.3s ease;
    z-index: -1; 
}

.contact-section .submit-btn:hover {
    color: white; 
}

.contact-section .submit-btn:hover::before {
    left: 0; 
}

.contact-section .contact-panel h1{
    font-size: 40px;
    color: white;
}

.contact-section .contact-panel h2{
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}

@media (max-width: 1024px) {
    
    .contact-section .contact-panel{
        text-align: center;
    }

    .contact-img{
        display: none;
    }
}
