.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    z-index: 10;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
    height: 7.5vh;
    transition: height .3s ease-in-out;
    box-shadow:  0 5px 25px 0 rgba(0, 0, 0, 0.25);
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.5vh;
    padding: 0 20px;
    z-index: 15;
    width: 100%;
    position: relative;
}

.top-bar-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-bar-menu a{
    text-decoration: none;
}

.logo-section{
    display: flex;
    align-items: center;
}

.logo {
    height: 150px;
    left: 5%;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
}

.navbar .links {
    position: relative; 
    text-decoration: none;
    font-size: 16px;
    padding: 7.5px 30px;
    color: black;
    font-weight: 500;
    transition: all 1s;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: rgba(255, 255, 255, 1);
    border: 1px solid #ff50d0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-radius: 8px;
    z-index: 10;
    min-width: 150px; 
  }
  
  .services-link {
    position: relative;
    cursor: pointer;
  }
  
  .services-link:hover .dropdown-menu {
    display: block; 
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-menu a:hover {
    background-color: #ffb2f5;
  }

  .services-link .dropdown-menu {
    top: 100%;
    left: 0;
  }

.login {
    border: 1px solid #ff50d0;
    background-color: transparent;
    padding: 7.5px 18.75px;
    border-radius: 15px;
    color: #ff50d0;
    font-size: 16px;
    margin: 0 30px;
    cursor: pointer;
}

.navbar .login:hover {
    transition: all .3s ease;
    color: white;
    box-shadow: 
        inset 0px 0px 25px 5px #ff50d0, 
        inset 0px 0px 25px 5px #ff50d0; 
}

.purse {
    height: 35px;
    width: auto;
}

.top-bar .purse, .top-bar .login-popup{
    display: none;
}

.navbar .links:not(:has(.purse)):before,
.navbar .links:not(:has(.purse)):after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: #ff50d0;
    transition: all 0.3s ease-in-out;
}

.navbar a:not(:has(.account)):not(:has(.purse)):before {
    left: 0;
    top: 0;
}

.navbar a:not(:has(.account)):not(:has(.purse)):after {
    right: 0;
    bottom: 0;
}

.navbar a:not(:has(.account)):not(:has(.purse)):hover:before,
.navbar a:not(:has(.account)):not(:has(.purse)):hover:after {
    opacity: 1;
    width: 100%;
}

.navbar-container .menu{
    display: none;
    background-color: transparent;
    border: none;
    color: #ff50d0;
}

@media (max-width: 1024px) {
    .navbar-container .menu{
        display: block;
    }

    .navbar .purse, .navbar .login-popup{
        display: none;
    }

    .navbar{
        flex-direction: column;
        display: none;
    }

    .navbar.open{
        display: flex;
    }

    .navbar .links{
        padding: 10px 0;
    }

    .navbar-container.expanded{
        height: 290px;
        flex-direction: column;
    }

    .menu{
        padding-left: 20px;
    }

    .top-bar .purse, .top-bar .login-popup{
        display: flex;
    }
}