.purse-section {
    padding: 50px;
    text-align: center;
    padding-top: 100px;
}

.purse-section h1 {
    color: #D4AF37;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container,
.cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr; /* Adjust widths as needed */
    align-items: center;
    gap: 10px;
    width: 80%;
}

.header-container {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #f5f5f5;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

.header-container h2 {
    color: #D4AF37;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    text-align: center;
}

.cart-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.cart-item h2,
.cart-item p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.cart-item .cancel {
    border: none;
    position: absolute;
    background-color: #D4AF37;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 50%;
    right: 10px;
    color: white;
}

.cart-item-details button {
    padding: 10px;
    background-color: #D4AF37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item-details button:hover {
    background-color: #dabe63;
}

.cart-item-details .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-controls {
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-controls button {
    height: 25px;
    width: 25px;
    background-color: #D4AF37;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-controls button:hover {
    background-color: #dabe63;
}

.quantity-controls p {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 100px;
}

.date-time-container {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-time-container h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #D4AF37;
    font-size: 20px;
}

.date-time-container .date-picker, .date-time-container .time-picker, .date-time-container .service-type-container {
    width: 175px;
    padding-top: 15px;
    padding-right: 10px;
}

.price-total-container{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: end;
}

.price-total-container h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
}

.checkout-btn{
    font-size: 16px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid #D4AF37;
    color: #D4AF37;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.checkout-btn:hover{
    background-color: #D4AF37;
    color: white;
}

@media (max-width: 1024px) {
    .header-container,
    .cart-item {
        width: 100%;
    }

    .header-container h2 {
        font-size: 16px;
    }

    .cart-item h2,
    .cart-item p {
        font-size: 16px;
    }
    
    .purse-section {
        padding: 0px;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .date-picker {
        width: 100px;
    }

    .date-time-container{
        justify-content: start;
        align-items: start;
        flex-direction: column;
    }
}